.main {
  position: absolute;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
}

.home, .about, .projects {
  width: 100%;
  padding-top: 50px;
}

.home {
  height: 300px;
}

.about {
  height: 500px;
}

.projects {
  height: 500px;
}

.nav {
  position: relative;
  top: 0px
}

.body {
  position: relative;
}
