.main {
  position: absolute;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  margin: 0px;
  padding: 0px;
  min-width: 600px;
  width: 100%;
  overflow: hidden;
}

.home, .about, .projects {
  width: 100%;
}

.home {
  height: 500px;
}

.about {
  position: relative;
  height: 2000px;
  text-align: center;
  justify-content: center;
}

.projects {
  height: 1000px;
}

.nav {
  position: relative;
  top: 0px
}

.body {
  position: relative;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Utils/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}
