.projects {
    text-align: center;
}

.projects-title {
    position: relative;
    height: 5%;
    text-align: left;
    margin: 0px 20px 0px 20px;
    color: white;
}

.projects-main {
    display: flex;
    height: 95%;
    width: auto;
}

/* .projects-cards {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 50%;
    width: 100%;
} */

.projects-first, .projects-second {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 50%;
    width: 100%;
}

.projects-content {
    position: relative;
    width: 75%;
    max-width: 400px;
    height: 75%;
    background-color: white;
    cursor: pointer;
}

.left-column {
    position: relative;
    height: 100%;
    width: 50%;
    margin: auto;
}

.right-column {
    position: relative;
    height: 100%;
    width: 50%;
    margin: auto;
}