.projects {
    text-align: center;
}

.projects-title {
    position: relative;
    height: 5%;
    text-align: left;
    margin: 0px 20px 0px 20px;
    color: white;
}

.projects-main {
    display: flex;
    height: 95%;
    width: auto;
}

.projects-first, .projects-second {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 50%;
    width: 100%;
}

.projects-content {
    position: relative;
    text-align: center;
    width: 75%;
    max-width: 400px;
    height: 70%;
    background-color: white;
    cursor: pointer;
}

.projects-content span {
    position: relative;
    opacity: 0;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    top: 40%
}

.projects-content:hover {
    transition: all 1s;
    opacity: .7
}

.projects-content:hover span {
    transition: all 1s;
    color: rgb(0, 0, 0);
    opacity: 1
}

.left-column {
    position: relative;
    height: 100%;
    width: 50%;
    margin: auto;
}

.right-column {
    position: relative;
    height: 100%;
    width: 50%;
    margin: auto;
}